@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="~/TestPage.html">Link to Test Page!</a></p>
    <p><a href="~/Home/Test">Link to Test Page 2!</a></p>

    <h2><a href="~/Test/RazorTest">Test/RazorTest</a></h2>
    <a asp-controller="Test" , asp-action="RazorTest">Helper Method</a>

</div>
