@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int[] list = { 1, 2, 3, 4, 5 };
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Loop test!</h1>

@foreach (var i in list)
{
    <p>loop No. @i</p>
}

<p>That is all!</p>
